
## sample of config file

rpc_config = {
    "doge_rpc_port": "22545",
    "doge_rpc_host": "127.0.0.1",
    "doge_rpc_username": "dogecoinrpc",
    "doge_rpc_password": "dogecoinpassword"
}

bot_config = {
    'user_file': 'path/to/file',
    'unregistered_tip_user': 'path/to/an/other/file',
    'user_history_path': 'path/to/an/other/file'
}

url_get_value = {
    "coincap": 'http://www.coincap.io/page/DOGE',
    "cryptocompare": 'https://www.cryptocompare.com/api/data/price?fsym=DOGE&tsyms=USD'
}