
## sample of config file

rpc_config = {
    "rpc_port": "22545",
    "rpc_host": "127.0.0.1",
    "rpc_username": "dogecoinrpc",
    "rpc_password": "dogecoinpassword",
    "timeout": 60
}

# with ending /

DATA_PATH = '/data/'

bot_name = "sodogetiptest"
backup_wallet_path = "/path/of/wallet/backup/"

user_file = DATA_PATH + 'user_files.json'
unregistered_tip_user = DATA_PATH + 'unregistered_tip_user.json'

logs_path = DATA_PATH + 'logs/'
history_path = DATA_PATH + 'history/'


spam_limit = 1000
rate_fee = 1

url_get_value = {
    "coincap": 'http://www.coincap.io/page/DOGE',
    "cryptocompare": 'https://www.cryptocompare.com/api/data/price?fsym=DOGE&tsyms=USD',
    "cryptonator": 'https://api.cryptonator.com/api/full/doge-usd',
    "blockcypher": 'https://api.blockcypher.com/v1/doge/main/txs/'
}

tip_keyword = {
    "dogecar" : 98
}

# vanity-gen request
vanity_enabled = False
vanitygen = DATA_PATH + 'vanitygen.json'
vanitygen_address = "DGo1dHhU2pRAyU58LgACYU3i3fpaZakG5u"
vanitygen_price = {
 "3":"10",
 "4":"50"
}


# shop
shop_enabled = False
shop_fee = float(1/100)


block_explorer = "https://chain.so/tx/DOGE/"