
## sample of config file

import getpass

def init_passphrase():
    # enter user passphrase
    global wallet_passphrase
    wallet_passphrase = getpass.getpass("wallet passphrase : ")

rpc_config = {
    "doge_rpc_port": "22545",
    "doge_rpc_host": "127.0.0.1",
    "doge_rpc_username": "dogecoinrpc",
    "doge_rpc_password": "dogecoinpassword"
}

## with ending /

DATA_PATH = '/data/'

bot_name = "sodogetiptest"

bot_config = {
    'user_file': 'user_files.json',
    'unregistered_tip_user': 'unregistered_tip_user.json',
    'user_history_path': 'user_history/',
    'logs_path': 'logs/',
    'rate_fee': '1',
    'spam_limit': '500'
    'timeout': '30'
}

url_get_value = {
    "coincap": 'http://www.coincap.io/page/DOGE',
    "cryptocompare": 'https://www.cryptocompare.com/api/data/price?fsym=DOGE&tsyms=USD'
}
